#overlay {
  position:absolute;
  z-index:51;
  margin-top: 150px;
  width: 942px;
  height: 500px;
  text-align: left;
  border: 0px solid #000;  
}

#overlay .topics-and-form {
  height: 100%;
  margin: 0;
}

#topics-list .submission-topic-list {
  height: 400px;
  margin-top: 10px;
  margin-bottom: 17px;
}

#overlay .topics-and-form .form-container .user-input .mood-colors {
  height: 30px;
  border: 1px solid #8a8a8a;
  margin: 5px 0;
}

#overlay .topics-and-form .form-container .user-input .mood-colors  input[type="radio"] {
  float: left;
  width: 13px;
  margin-top: 9px;
  margin-left: 5px;
  border: 0px;
}

#overlay .topics-and-form .form-container .user-input .mood-colors  label {
  float: left;
  font-size: 11px;
  padding: 3px 5px;
  margin-top: 4px;
  margin-left: 2px;
  border: 1px solid #8a8a8a;
  text-align: center;
}

#overlay .topics-and-form .form-container .user-input .categories-wrapper {
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #8a8a8a;
  padding-bottom: 5px;
}

#overlay .topics-and-form .form-container .user-input .push-down {
  margin-top: 18px;
}

#overlay .topics-and-form .form-container .user-input .categories-wrapper .category {
  margin-top: 5px;
}

#overlay .topics-and-form .form-container .user-input .categories-wrapper .first {
  margin-top: 0;
}

#overlay .topics-and-form .form-container .user-input .categories-wrapper .category input[type="radio"] {
  width: 13px;
  margin-top: 9px;
  margin-left: 5px;
  border: 0px;
}

#overlay .topics-and-form .form-container .user-input .categories-wrapper .category label {
  margin-left: 2px;
}

#overlay .topics-and-form .form-container .user-input .categories-wrapper .category span {
  margin-left: 20px;
  color: #8a8a8a;
  font-size: 14px;
  font-style: italic;
}

#overlay .topics-and-form .form-container .user-input .right-button{
  margin-left: 10px;
}

#overlay .topics-and-form .form-container .user-input .long-answer-box {
  height: 246px;
}

#overlay .topics-and-form .form-container .user-input .longer {
  height: 259px;
}

#overlay .topics-and-form .form-container .user-input .long-answer-box textarea {
  height: 224px;
}

#overlay .topics-and-form .form-container .new-topic {
  text-align: left;
  padding: 5px 0 0 0;
}


#empty-pane-with-question .logo{
	margin-top: 39px;
	height: 35px;
 }
 
#empty-pane-with-question .logo a{
	border: 0; 
 }

#empty-pane-with-question .logo .logo-nav {position:relative;}
#empty-pane-with-question .logo .logo-nav  li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
#empty-pane-with-question .logo .logo-nav  li, #empty-pane-with-question .logo .logo-nav   a{height:35px;display:block;}

#empty-pane-with-question .logo .logo-nav .logo-too {left:0px;width:69px;}
#empty-pane-with-question .logo .logo-nav .logo-too {background:url('/images/Too-Polite-To-Ask_Logo.png') 0 0;}
#empty-pane-with-question .logo .logo-nav .logo-too a:hover{background: url('/images/Too-Polite-To-Ask_Logo.png') 0 -35px;}

#empty-pane-with-question .logo .logo-nav .logo-polite {left:69px;width:115px;}
#empty-pane-with-question .logo .logo-nav .logo-polite {background:url('/images/Too-Polite-To-Ask_Logo.png') -70px 0;}
#empty-pane-with-question .logo .logo-nav .logo-polite a:hover{background: url('/images/Too-Polite-To-Ask_Logo.png') -70px -35px;}

#empty-pane-with-question .logo .logo-nav .logo-to {left:184px;width:49px;}
#empty-pane-with-question .logo .logo-nav .logo-to {background:url('/images/Too-Polite-To-Ask_Logo.png') -186px 0;}
#empty-pane-with-question .logo .logo-nav .logo-to a:hover{background: url('/images/Too-Polite-To-Ask_Logo.png') -186px -35px;}

#empty-pane-with-question .logo .logo-nav .logo-ask {left:233px;width:69px;}
#empty-pane-with-question .logo .logo-nav .logo-ask {background:url('/images/Too-Polite-To-Ask_Logo.png') -236px 0;}
#empty-pane-with-question .logo .logo-nav .logo-ask a:hover{background: url('/images/Too-Polite-To-Ask_Logo.png') -236px -35px;}

#empty-pane-with-question .slogan {
	margin-top: 10px;
	font-style:italic;
	color: #8a8a8a;
	font-size: 11px;
 }