Options -Indexes
ErrorDocument 404 /404

Options +FollowSymlinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.toopolite\.herokuapp\.com$ [NC]
RewriteRule ^.*$ http://toopolite.herokuapp.com%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.toopolite\.com$ [NC]
RewriteRule ^.*$ http://toopolite.com%{REQUEST_URI} [R=301,L]

