Options -Indexes
ErrorDocument 404 /404

Options +FollowSymlinks
RewriteEngine On

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.toopolite\.herokuapp\.com$ [NC]
RewriteRule ^.*$ https://toopolite.herokuapp.com%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.toopolite\.com$ [NC]
RewriteRule ^.*$ https://toopolite.com%{REQUEST_URI} [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/ 
RewriteRule ^index\.php$ / [R=301,L] 

RewriteCond %{REQUEST_URI} !\.[^./]+$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]

RewriteRule ^404/ /index.php?err=404 [NC]
RewriteRule ^share/ /index.php?share=1 [NC]
RewriteRule ^what-it-feels-like-to-([^/]+)/([0-9]+)/ /index.php?ra=1&u=$1&a=$2 [NC]
RewriteRule ^buy-the-book/ /index.php?bb=1 [NC]
RewriteRule ^get-newsletter/ /index.php?gn=1 [NC]
RewriteRule ^share-answer/([0-9]+)/ /index.php?sa=1&a=$1 [NC]
RewriteRule ^give-your-answer/([0-9]+)/ /index.php?ga=1&t=$1 [NC]
RewriteRule ^give-your-answer/ /index.php?ga=1 [NC]
RewriteRule ^ask-a-friend/([0-9]+)/ /index.php?af=1&t=$1 [NC]
RewriteRule ^ask-a-friend/ /index.php?af=1 [NC]
RewriteRule ^suggest-a-topic/([0-9]+)/ /index.php?st=1&t=$1 [NC]
RewriteRule ^suggest-a-topic/ /index.php?st=1 [NC]
RewriteRule ^interview-confirmation/([0-9]+)/ /index.php?itv=1&t=$1 [NC]
RewriteRule ^interview-confirmation/ /index.php?itv=1 [NC]
RewriteRule ^topic/([0-9]+)/ /index.php?hm=1&t=$1 [NC]
RewriteRule ^answer/([0-9]+)/ /index.php?hm=1&a=$1 [NC]
RewriteRule ^home/ /index.php?hm=1 [NC]
RewriteRule ^about-tpta/ /index.php?abt=1 [NC]
RewriteRule ^terms-of-service/ /index.php?tos=1 [NC]
RewriteRule ^content-submission-agreement/ /index.php?csa=1 [NC]
RewriteRule ^copyright-compliance-policy/ /index.php?ccp=1 [NC]
RewriteRule ^privacy-policy/ /index.php?ppo=1 [NC]
RewriteRule ^answer-guidelines/ /index.php?agu=1 [NC]
RewriteRule ^received-share-answer-request/ /index.php?s-sa=1 [NC]
RewriteRule ^received-book-update-request/ /index.php?s-bb=1 [NC]
RewriteRule ^received-newsletter-request/ /index.php?s-gn=1 [NC]
RewriteRule ^received-answer-submission/ /index.php?s-ga=1 [NC]
RewriteRule ^received-email-friend-request/ /index.php?s-af=1 [NC]
RewriteRule ^received-topic-suggestion/ /index.php?s-st=1 [NC]
RewriteRule ^received-interview-confirmation/ /index.php?s-itv=1 [NC]
RewriteRule ^previous-answer/([0-9]+)/ /answer-popup.php?p=1&a=$1 [NC]
RewriteRule ^first-answer/([0-9]+)/ /answer-popup.php?f=1&a=$1 [NC]
RewriteRule ^admin/approve-topic/([0-9]+)/ /admin/index.php?adm-at=1&t=$1 [NC]
RewriteRule ^admin/approve-topic/ /admin/index.php?adm-at=1 [NC]
RewriteRule ^admin/approve-answer/([0-9]+)/ /admin/index.php?adm-aa=1&t=$1 [NC]
RewriteRule ^admin/approve-answer/ /admin/index.php?adm-aa=1 [NC]
RewriteRule ^admin/update-topic/([0-9]+)/ /admin/index.php?adm-ut=1&t=$1 [NC]
RewriteRule ^admin/update-topic/ /admin/index.php?adm-ut=1 [NC]
RewriteRule ^admin/update-answer/([0-9]+)/ /admin/index.php?adm-ua=1&t=$1 [NC]
RewriteRule ^admin/update-answer/ /admin/index.php?adm-ua=1 [NC]
RewriteRule ^admin/topic-approved-denied/ /admin/index.php?s-adm-at=1 [NC]
RewriteRule ^admin/answer-approved-denied/ /admin/index.php?s-adm-aa=1 [NC]
RewriteRule ^admin/topic-updated/ /admin/index.php?s-adm-ut=1 [NC]
RewriteRule ^admin/answer-updated/ /admin/index.php?s-adm-ua=1 [NC]